body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f4ecde;
}

.container {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.sidebar {
  width: 7.35%;
  height: 92vh;
  background-color: black;
  border-radius: 20px;
  margin-top: 0.7%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-item {
  width: 15.6vh;
  height: 15.6vh;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-item:hover {
  background-color: #F1D5BB;
}

.sidebar-item img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: filter 0.3s ease;
}

.sidebar-item:hover img {
  filter: invert(1);
}

.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 10px;
}

.image-list img {
  width: 170px;
  height: 200px;
  margin: 10px;
  margin-top: -10px;
  border-radius: 10px;
}

.image-list figure {
  position: relative;
  text-align: center;
  margin-bottom: 20px; /* Thêm khoảng cách giữa ảnh và văn bản dưới */
}

.image-list figcaption {
  text-align: center;
  margin-top: 2px; /* Thêm khoảng cách giữa ảnh và tên sản phẩm */

}

.add-to-cart {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: #F1D5BB;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 5px;
  display: none; /* Ẩn nút mặc định */
}

.image-list .price {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.image-list figure:hover img {
  opacity: 0.5; /* Tối hình ảnh khi rê chuột */
}

.image-list figure:hover .add-to-cart {
  display: block; /* Hiện nút khi rê chuột vào hình ảnh */
}

.title {
  color: rgb(95, 89, 25);
  font-size: 40px;
  margin-left: 210px;
  margin-bottom: 0px;
}

#cart-sidebar{
  width: 92px;
  height: 92vh;
}

.cart-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.cart-table {
  width: 85%;
  height: 65vh;
  top: 15%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  background-color: #F1D5BB;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 15px solid #ffffff;    
}

.cart-table .product-list {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 20px;
  overflow-y: auto;
  border-right: 15px solid #ffffff;
  -ms-overflow-style: none;  /*chặn hiển thuị thanh cuộn */
  scrollbar-width: none;
}

.product-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.product-item .item-name {
  flex-grow: 1;
}

.product-item .quantity-input {
  width: 40px;
  padding: 5px;
  text-align: center;
  margin-right: 10px;
}

.product-item .delete-button {
  background-color: #F1D5BB;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-item .quantity-button {
  background-color: #F1D5BB;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-table .total {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #ffffff;
}

.cart-table .discount-code {
  background-color: #fafafa;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding: 20px;
  text-align: center;
}

.discount-code input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #F1D5BB;
  margin-top: 10px;
}

.cart-table .apply-button {
  color: white;
  background-color: black
}

.cart-table .product-list .product-item .cart-image {
  width: 80px;
  height: 80px;
  margin-right: 10px;
  border-radius: 50%; /* Tạo vòng tròn */
  overflow: hidden; /* Loại bỏ phần ngoài vòng tròn */
}

.cart-table .product-list .product-item .item-name {
  font-weight: bold;
  margin-bottom: 5px;
}

#category_id {
  background-color: #f8f8f8;
  border: 1px solid #ddd; 
  border-radius: 4px;
  padding: 10px;
  font-size: 16px; 
  color: #333;
  appearance: none; /* Tắt kiểu dáng mặc định của trình duyệt */
  -webkit-appearance: none; /* Tắt kiểu dáng mặc định trên Safari */
  width: 100px; /* Chiều rộng */
  cursor: pointer; /* Con trỏ chuột khi di chuyển qua */
  margin-left: 100%;
}

#category_id:focus {
  border-color: #4CAF50; /* Màu viền khi chọn */
  outline: none; /* Xóa bỏ outline mặc định */
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 5%; /* Điều chỉnh khoảng cách từ nội dung phía trên nếu cần */
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: black;
  border-radius: 5px;
}

.pagination li.active a {
  background-color: #4CAF50;
  color: white;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-top: -3.5%;
  margin-left: 12%;
  margin-bottom: 20px;
}

.search-form input[type="text"] {
  padding: 8px;
  width: 240px; /* Chiều rộng của thanh tìm kiếm */
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-form button {
  padding: 8px 16px;
  border: 1px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #1c6af0; /* Màu khi hover */
}

.search-form input[type="text"]:focus {
  border-color: #4CAF50; /* Màu viền khi được chọn */
}
